#mylabele{ 
    display: block;
    text-align: center;
    font-size: 1.7em;
    font-family:Helvetica;

}

.containerBtn{ 
      display: block;
    text-align: center;
    font-family:Helvetica;

}


.containerBank {
      font-family:Helvetica;
}
.containerBank_Dangky{ 
 font-family:Helvetica;
}





h1{ 
    color: hsl(223, 100%, 64%);
}

form{ 
    background-color: hsl(0 , 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}
#textbox{ 
    width: 50%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
}

label{ 
    font-size: 1.5em;
    font-weight: bold;
}
button{ 
    margin-top: 15px;
    background-color: hsl(0 , 100%, 50%);
    color: white;
    font-size: 2em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{ 
     background-color: hsl(0 , 100%, 70%);
}

#result{ 
    font-size: 1.75em;
    font-weight: bold;
}